//
//  Production.xcconfig
//  RSwiftDemo
//
//  Created by Jackson Chung on 16/12/2019.
//  Copyright © 2019 Jackson Chung. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-RSwiftDemo/Pods-RSwiftDemo.release.xcconfig"

PHRASEAPP_OTA_DISTRIBUTION_ID = beb0937e927aecccd6fa39a179df3d9e
PHRASEAPP_OTA_ENV_TOKEN = 1tgHltbRZjejIptmMyXW6RpJ2__nco149gb3KE-RTlE
 
